window {
    /* properties for window widget */
    width:                       800px;
    /* opacity:                    1.0; */

    /* properties for all widgets */
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               10px;
    border-color:                blue;
    cursor:                      "default";
    background-color:            red;
}

